
.ant-pagination.ant-table-pagination.ant-table-pagination-right {
  background: white;
  width: fit-content;
  border-radius: 6px;
}

.ant-pagination-item.ant-pagination-item-active {
  border-color: red;
}

.ant-pagination-item.ant-pagination-item-active a {
  color: red;
}

a {
  color: #fffa31;
  font-weight: bold;
}

@media (max-width: 560px) {
  .title {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.hideForMobile ,.hideForTablet, .hideForTablet{
  display: none;
}
@media (min-width: 768px) {
  .hideForDesktop{
    display: block;
  }
}
@media (min-width: 1025px) {
  .hideForMobile{
    display: block;
  }
  .hideForDesktop{
    display: none;
  }
}
@media (min-width: 1225px) {
  .hideForTablet{
    display: block;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 15px;
}

.filter-wrap {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100%;
  gap: 8px;
}

.title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.title-head {
  line-height: 35px;
  color: white;
  font-size: 30px;
  flex: 1 1 0%;
  margin-top: 0px;
}

.date-info {
  line-height: 24px;
  color: white;
  display: flex;
  gap: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}
.spinner{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgb(0, 0, 0,0.1);
  align-items: center;
  justify-content: center;
}